* {
  margin: 0;
  box-sizing: border-box;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10dvh;
  background-color: rgb(19, 32, 67);
}

.Header h1 {
  color: white;
}
