.lists {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* padding: 5vw; */
  padding-top: 1.5dvw;
  /* width: 100dvw; */
  max-width: 100dvw;
  min-height: 100dvh;
  background-color: blue;
}

.list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: 5px solid white;
  width: 20rem;
  padding: 1.51rem 1rem;
  border-radius: 10%;
  margin: 0.5rem;
}
