.list-item {
  display: flex;
  flex-direction: row;
  background-color: rgb(253, 240, 240);
}

.list-item .checkBox {
  padding-right: 0.7rem;
}

.list-item .patch {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translate(-25%, 25%);
}
