* {
  margin: 0;
  box-sizing: border-box;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100px);
    /* transform: rotate(0deg); */
  }
  to {
    transform: translateX(0px);
    /* transform: rotate(360deg); */
  }
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: red;
  animation: slideInLeft 1s ease-in 1s 1 normal both;
}
